.form-gray {
  font-size: 1.2em;
  
  background: #FAFCFF;
  padding: 20px;
  box-sizing: border-box;
  
}

.form-gray input {
  font-size: 0.8em;
  margin-top: 10px;
}

#zoomLevel{
  width: 300px;
}

.disabled-option {
  pointer-events: none;
  filter: opacity(50%);
}

.primary {
  color: #3498db;
  border: 1px solid #3498db;
}

.primary:hover {
  background-color: #3498db;
  color: white;
}

button {
  font-size: 1em;
  font-family: 'Ropa Sans', sans-serif;
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /*   text-transform: uppercase; */
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}


.zoomSector{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  
}

#zoomLevel{
  vertical-align:middle;
}

#buttonsContainer{
  display: flex;
}

#zoomLevelLbl{
  flex: 1;
  display: inline-block;
  min-width: 30px;
  width: 100%;
  text-align: center;
  vertical-align:middle;
  font-size: 24px;
}

.zoomButton{
  transition: all .2s linear;
  background-color: #fff;
  font-size: 8px;
  position: relative;
}

.zoomButton:after,
.zoomButton:before {
  transition: all .2s linear;
  content: "";
  display: block;
  background-color:#3498db;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoomButton:hover:after,
.zoomButton:hover:before {
  transition: all .2s linear;
  background-color: white;
}

#plusButton:before {
  height: 1em;
  width: 0.2em;
}

#plusButton:after {
  height: 0.2em;
  width: 1em;
}

#lessButton:after {
  height: 0.2em;
  width: 1em;
}